<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Your Website</title>
  <link rel="stylesheet" href="styles.css">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="moment.js"></script>
<script src="week_view.js"></script>
<script type="text/javascript">
  $(function () {
    $(".homepage").hide();
    $(".box").delay(500).effect("bounce", { times: 8 }, 800);
    $(".box").hide().slideDown(500);

    $("button").click(function () {
      $(".intro").slideUp(400);
      $(".box").slideUp(200);
      $(".homepage").delay(500).slideDown(300);
    });
  });
  var getUrl = window.location
  const DELTA = 5000;
  var baseUrl = getUrl.protocol + "//" + getUrl.hostname + ":5000"
  var curr_time = 4;
  var time_names = ['Noche', 'Cena', 'Comida', 'Desayuno'];
  var week = [['0', '0', '0', '0', '0', '0', '0'],
  ['0', '0', '0', '0', '0', '0', '0'],
  ['0', '0', '0', '0', '0', '0', '0'],
  ['0', '0', '0', '0', '0', '0', '0']];
  const init_view = () => {
    return `
        <div class="intro">
    <div class="black"></div>  
    <div class="white"></div>
    <div class="boxfather">
      <div class="box">
        <h1>WELCOME</h1>
        <button class="start">Enter</button>
      </div>
    </div>
    
  </div>			`
  }
  const hour_view = () => {
    return `
			<div class="container">
	<div class="container_center">
	   <h1>${time_names[curr_time - 1]}</h1>
			<form id="time" onsubmit="POST_TIME()" method="post" action="javascript:void(0);" enctype="multipart/form-data">
  <select name="time" class="time-dropdown">
    <option value="00">00</option>
    <option value="01">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option selected="selected" value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
  </select>
  <select name="time" class="time-dropdown">
    <option value="00">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select>
				<input type="submit" name="subir-datos" value="Submit"/>
			</form>
      </div>
    </div>
	`
  }
  
  const ready_dose_view = () =>
  {
    setTimeout(function () { get_next_dose() }, 300000);
    return `
      <div class="container">
			<div class="container_center">
        <h1>Agarramesta</h1>
        <span class="arrow arrow-down"></span>
			</div>
			  </div>
			`
    
  }
  const GET_API = async (path) => {
    const response = await fetch(baseUrl + path);
    return (response);
  }

  const POST_TIME = async () => {
    const formData = document.getElementById("time").querySelectorAll("select")
    var time = formData[0].value + ":" + formData[1].value;
    console.log(time)
    fetch('/time', {
      method: 'POST',
      body: time
    })
      .then(function (res) {
        curr_time = curr_time - 1;
        console.log(curr_time);
        if (curr_time > 0)
          document.getElementById("main").innerHTML = hour_view();
        else
          submit_controller();
      })
  }

  const POST_WEEK = async () => {
    fetch('/week', {
      method: 'POST',
      body: week
    })
      .then(function (res) {
        console.log(res);
        get_next_dose()
      }
      )
  }
  const add_day = (input) => {
    index = input.id.slice(-3);
    time = parseInt(index.charAt(0), 10) - 1;
    day = parseInt(index.charAt(2), 10) - 1;
    week[time][day] = week[time][day] == '1' ? '0' : '1';
    console.log(week);
  }
  function toArray(list) {
    return Array.prototype.slice.call(list);
  }

  const init_controller = async () => {
    document.getElementById("main").innerHTML = init_view();
  }

  const submit_controller = async () => {
    var time = await GET_API("/time");
    var response = await time.json();
    document.getElementById("main").innerHTML = submit_view(response);
  }

  const table_controller = () => {
    var tbl = document.querySelectorAll("table")[0]
    var table = toArray(tbl.getElementsByTagName("tr"));
    table.forEach(function (row) {
      if (row.id !== "primera") {
        var inputs = toArray(row.getElementsByTagName("input"));
        inputs.forEach(function (input) {
          input.addEventListener("click", function () { add_day(input) })
        })
      }
    })
  }

  const week_controller = () => {
    document.getElementById("main").innerHTML = week_view();
    table_controller();
  }
  const getcho_drugs = () =>
  {
      document.getElementById("main").innerHTML = ready_dose_view(); 
  }
  const get_next_dose = async () => {
    var dose = await GET_API("/dose");
    var res = await dose.json();
    console.log(res);
    if (res.message == "NOT TODAY") {
      document.getElementById("main").innerHTML = wait_sch();
    }
    else {
      time_act = res.split(":");
      var then = moment().hour(parseInt(time_act[0])).minute(parseInt(time_act[1]));
      var dif = Math.abs(moment().diff(then));
      setTimeout(function () { getcho_drugs()}, dif + 5000);
      document.getElementById("main").innerHTML = next_dose(res);
    }
  }

  const submit_week_controller = async () => {
    response = await POST_WEEK();
  }

  const form_controller = async () => {
    document.getElementById("main").innerHTML = form_view();
  };

  matchEvent = (ev, sel) => ev.target.matches(sel);
  const myId = (ev) => Number(ev.target.dataset.myId);
  document.addEventListener("click", (ev) => {
    if (matchEvent(ev, ".submit")) submit_controller(myId(ev))
    else if (matchEvent(ev, ".start")) form_controller(myId(ev))
    else if (matchEvent(ev, ".week")) week_controller(myId(ev))
    else if (matchEvent(ev, ".send")) submit_week_controller(myId(ev))

  });
  document.addEventListener("DOMContentLoaded", init_controller);
</script>

<body>
  <div id="main">
  </div>
</body>

</html>