@import url(https://fonts.googleapis.com/css?family=Orbitron:700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

/* Stars 
------------------------------------- */


.arrow {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  margin: 10px 10px;
}
.arrow:before, .arrow:after {
  content: "";
  border-color: transparent;
  border-style: solid;
  position: absolute;
}
.arrow-down:before {
  border: none;
  background-color: #F2DDA4;
  height: 50%;
  width: 30%;
  top: 0;
  left: 35%;
}
.arrow-down:after {
  left: 0;
  top: 50%;
  border-width: 20px 20px;
  border-top-color: #E7EFC5;
}

  
/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #E7EFC5;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Dosis:300,400,600,700,800|Droid+Sans:400,700|Lato:300,400,700,900|PT+Sans:400,700|Ubuntu:300,400,500,700|Open+Sans:400,300,600,700|Roboto:400,300,500,700,900|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Play:400,700|Maven+Pro:400,500,700,900&subset=latin,latin-ext);
body {
  padding: 0;
  margin: 0;
  background-color: #222;
  overflow: hidden;
  position: absolute;
  
}

svg {
  position: absolute;
  width: 800px;
  height: 480px;
  left: 100px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.clockCircle {
  fill: none;
  stroke: #2a2a2a;
}

.clockArc {
  fill: none;
  stroke: #55D6BE;
}

.clockDot {
  fill: #e9fafc;
}

.dayText{
  position:absolute;
  left:12%;
  top: 54%; /*55*/
  font-weight: 300;
  font-size: 3rem;
  color: white;
}
.dateText{
  left:12%;
  top:25%;  /*32*/
  position: absolute;
  font-size: 2.5rem;
  font-weight: 400;
  font-size: 4.5rem;
  color: white;
}

.container_col{
    display: flex;
    flex-direction: row;
}
.col{
  align-items:flex-start;
}

.timeText {
  font-family: 'Montserrat';
  font-size: 5rem;
  font-weight: 600;
  fill: White;
}


/* Demo syles 
------------------------------------- */
html{width:0%;
height: 0%;}

html, body {
  padding: 0;
  margin: 0;
  background-image: url("background5.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  color: black;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

.ayuda {
  text-align: center;
  font-size: 70px;
  top: 30%;
  margin : 0;
  color:white;
}

.primera {
  height: 125px;
  font-size: 40px;
  
}

.izquierda {
  text-align: left;
  font-size: 40px;
}

.tabla {
  margin: auto;
}
.tabla th {
  width: 130px;
  color:white;
}
.tabla td {
  text-align: center;
}

.container {
  box-sizing: border-box;
  text-align: center;
}
.container h2 {
  justify-content: space-around;
}
.container p {
  margin-top: 40px;
}

.container_hijo {
  text-align: center;
  display: inline-block;
  margin: 1%;
}
.button {
  z-index: 90;
}
.intro{
  margin: auto;
}
.black {
  width: 50%;
  float: left;
  background: #55D6BE;
  height: 100vh;
}

.white{
  width: 50%;
  float: right;
  background: #fff;
  height: 100vh;
}

.box{
  height: 300px;
  width: 500px;
  background: #a6a6aa;
  position:absolute;
  top:150px;
  left:0;
  right:0;
  margin:auto;
  border-radius:20px;
}
.box-spaced{
  height: 300px;
  width: 500px;
  background: #5ce1e6;
  position:absolute;
  top:150px;
  left:0;
  right:0;
  margin:auto;
  border-radius:20px;
}

.boxfather{
  width:100%;
  position:absolute;
}
.box h1{
  color: #fff;
  font-size: 5em;
  text-align: center;
  position: relative;
  top:15%;
  font-size: 400%;
  font-family: 'Montserrat', sans-serif;
}
.box button{
  left: 40%;
  position:relative;
  top: 10%;
  padding: 8px 20px;
  cursor:pointer;
  border:0;
  outline:none;
  color:#525252;
  transition:all .3s ease;
  font-size: 19px;
  font-family: montserrat;
  border-radius:5px;
}
.homepage{
  height: 100vh;
  position:relative;
  top:40px;
}
/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 33.3333333333px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 80px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
input[type=checkbox] {
  display: none;
}

.check-box {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: 10px solid white;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.check-box::before, .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 20px;
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  -webkit-transition: opacity ease 0.5;
  -moz-transition: opacity ease 0.5;
  transition: opacity ease 0.5;
}
.check-box::before {
  top: 72px;
  left: 31px;
  box-shadow: 0 0 0 0px #667788;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.check-box::after {
  top: 47px;
  left: 5px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: #34b93d;
}
input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: 50px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
  height: 120px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
select.time-dropdown {
    color: #272838;
    cursor: pointer;
    background: #fff;
    border: 2px solid #fff;
    font-size: 50%;
    padding: 0.5em;
    padding-right: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:5px;
  	font-family: 'Montserrat', sans-serif;
  }
::selection{
  font-size: 50%;
}
.buttons {
  width: 100px;
  height: 40px;
  font-size: 19px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  margin: 10%;
  moz-transition: all .4s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #208371, #5BD7C0, #2b5876, #104239);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.horario{
  position: absolute;
  left:40%;
  top:60%;

}
.container_center{
  margin-top: 200px;
  font-size: 300%;
  justify-items: center;
  text-align: center;
}
.centered_button{
  position: absolute;
  top: 74%;
  left : 38%;
}
.container_center h1{
  width: 500px;
  font-size: 150%;
  height: 100px;
  position: absolute;
  top: 10%;
  margin: 0;
  bottom: 0%;
}
.box-spaced{
  background-color : #a6a6aA;
  left:0;
  right:0;
  margin:auto;
  position:absolute;
  border-radius:20px; 
  justify-items: center;
  top: 20%; 
  justify-items: center;
}
.container_act .box-spaced{
  height: 400px;
    width: 800px;
}
.sel{
  top: 140px;
  left: 30%;
  position: absolute;
}
.container_resume{
position: absolute;
width: 100%;
height: 50%;
font-size: 250%;
text-align: justify;
margin: 0;
top: 20%;
}
.container_resume .box-spaced{
  margin: 0;
  background-color : #a6a6aA;
  position:absolute;
  right:0;
  margin:auto;
  border-radius:20px; 
  justify-items: center;
  top: 0;
}
.container_resume table{
  justify-items: center;
  display: block;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 2px;
  margin-top: 3%;
  text-align: center;
  margin-left: 15%;
  border-color: grey;
}
.imagen{
  position: absolute;
  display: block;
  left:40%;
  top:50%; 
}

.imagen_mov{
  position: absolute;
  animation: bounce 1s ease-in infinite;
  left:20%;
  top:75%;
  width:50%;
  z-index: 2;
}

.shadow {
  position:absolute;
  width: 380px;
  height: 20px;
  opacity: .5;
  background: #0f0f0f;
  left: 40%;
  top: 90%;
  border-radius: 50%;
  z-index: 1;
}

.scale {
  animation: scale 1s ease-in infinite;
}
.move {
  animation: move 3s ease-in-out infinite;
}


@keyframes bounce {
  50% {
     transform: translateY(-10px);
  }
}

@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}


@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}

.row h1{
  position:absolute;
  top:-35%;
  width: 1800px;
  left:-7%;
  font-size: 300%;
  font-family: 'Montserrat', sans-serif;
  color:white;
}